<%= link_to "All Retailers", retailers_path %>

<h1><%= @retailer.name %></h1>
<h3>Company Overview:</h3>
<ul>
<br>
<li>Established in <%= link_to @retailer.established, "https://www.google.com/search?q=what+happened+in+@retailer.established&rlz=1C5CHFA_enGB892GB893&oq=what+happened+in+2000&aqs=chrome..69i57j0l7.5839j0j7&sourceid=chrome&ie=UTF-8" %></li>
<br>
<li>Sector: <%= @retailer.sector %></li>
<br>
<li>Annual Turnover: £<%= @retailer.annual_turnover.round(2) %></li>
<br>
<li>No. of employees: <%= @retailer.employees %></li>
</ul>
<%= button_to 'Edit Retailer', edit_retailer_path, method: :get %>
<br>

<h3>Recent Transactions</h3>
<table>
        <thead>
          <tr>
            <th>Transaction ID</th>
                <th>Value</th>
              <th>Time</th>
              <th>Items Purchased</th>
          </tr>
        </thead>

        <tbody>
        <% @retailer.most_recent.each do |receipt| %>
          <tr>
            <td><%= link_to receipt.id, receipt_path(receipt) %></td>
            <td> £<%= receipt.total_amount.round(2) %></td>
            <td><%= receipt.created_at %></td>
            <td><%= receipt.items %></td><br>
            <% end %>
          </tr>
        </tbody>
</table>

<h3>Analytics</h3>
<h5>1. % Annual Turnover</h5>
From 3 most recent receipts: <strong><%= @retailer.annual_turnover_from_recent_receipts %>%</strong><br>
From all receipts in Fund DMC: <strong><%= @retailer.annual_turnover_from_receipts %>%</strong>
<h5>2. Transactions </h5>
Highest Transaction Value: £<strong><%= link_to @retailer.biggest_transaction.total_amount, @retailer.biggest_transaction %> | account number: <%= @retailer.biggest_transaction.bank_account.account_number %></strong><br>
Average Transaction Value: £<strong><%= @retailer.atv %></strong>
<br>
<h4> Log New Transaction for <%= @retailer.name %> </h4>
<%= form_with model: Receipt.new do |f| %>
<%= f.label :total_amount %>
<%= f.number_field :total_amount %>
<br>
<br>
<%= f.label :items %>
<%= f.text_field :items %>
<br>
<br>
<%= f.label :account_number %>
<%= f.collection_select(:bank_account_id, BankAccount.all, :id, :account_number) %>
<br>
<br>
<%= f.hidden_field :retailer_id, value: @retailer.id %>
<br>
<br>
<%= f.submit %>
<%end%>

