

<h1><%= @retailer.name %></h1>
<h4>Company Overview</h4>
<ul>
<br>
<li>Established in <%= link_to @retailer.established, "https://www.google.com/search?q=what+happened+in+@retailer.established&rlz=1C5CHFA_enGB892GB893&oq=what+happened+in+2000&aqs=chrome..69i57j0l7.5839j0j7&sourceid=chrome&ie=UTF-8" %></li>
<br>
<li>Sector: <%= @retailer.sector %></li>
<br>
<li>Annual Turnover: £<%= @retailer.annual_turnover.round(2) %></li>
<br>
<li>No. of employees: <%= @retailer.employees %></li>
</ul>
<%= button_to 'Edit Retailer', edit_retailer_path, method: :get %>
<br>

<h4>Recent Transactions</h4>
<table>
        <thead>
          <tr>
            <th>Transaction ID</th>
                <th>Total</th>
              <th>Date</th>
              <th>Items Purchased</th>
          </tr>
        </thead>

        <tbody>
        <% @retailer.most_recent.each do |receipt| %>
          <tr>
            <td><%= link_to receipt.id, receipt_path(receipt) %></td>
            <td> £<%= receipt.total_amount.round(2) %></td>
            <td><%= receipt.created_at %></td>
            <td><%= receipt.items %></td><br>
            <% end %>
          </tr>
        </tbody>
</table>

<br>
<br>

<h4>Analytics</h4>
<br>
<h5> % Annual Turnover</h5>
<table>
        <thead>
          <tr>
            <th> From 3 most recent receipts</th>
                <th>From all receipts in Fund DMC </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><%= @retailer.annual_turnover_from_recent_receipts %>%</strong></td>
            <td> <strong><%= @retailer.annual_turnover_from_receipts %>%</strong></td>
          </tr>
        </tbody>
</table>

<br>
<h5> Transactions </h5>
<table>
        <thead>
          <tr>
            <th>   Highest Transaction Value </th>
            <th>  Average Transaction Value </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> £<strong><%= link_to @retailer.biggest_transaction.total_amount, @retailer.biggest_transaction %> <br> Account No. <%= @retailer.biggest_transaction.bank_account.account_number %></strong><br></td>
            <td> £<strong><%= @retailer.atv %></strong></td>
          </tr>
        </tbody>
</table>



<br>
<br>
<br>
<h4> Log New Transaction for <%= @retailer.name %> </h4><br>
<%= form_with model: Receipt.new do |f| %>
    <%= f.label :account_number %>
    <%= f.collection_select(:bank_account_id, BankAccount.all, :id, :account_number) %>
<br>
<%= f.label :items %>
<%= f.text_field :items %>
<br>
<br>
<%= f.label :total_amount %>
<%= f.number_field :total_amount %>
<br>
<br>
<%= f.hidden_field :retailer_id, value: @retailer.id %>
<br>
<%= f.submit %>
<%end%>
<br>
<br>
<br>