


<h1><%= @retailer.name %></h1>
<br>

<h4>Company Overview</h4>
<div>
<div class="card-tabs">
  <ul class="tabs tabs-fixed-width">
    <li class="tab"><a href="#Sector">Sector</a></li>
    <li class="tab"><a class="active" href="#AnnualTurnover">Annual Turnover</a></li>
    <li class="tab"><a href="#Established">Established In</a></li>
    <li class="tab"><a href="#Employees">Employees</a></li>
  </ul>
<div class="card-content grey lighten-4"><br>
  <div class="center-align"><strong><div id="Sector"><%= @retailer.sector %></div>
  <div id="AnnualTurnover">£<%= @retailer.annual_turnover %></div>
    <div id="Established"><%= @retailer.established %></div>
    <div id="Employees"><%= @retailer.employees %></div><br>
    </div><strong></div>
</div>
</div>
<br>
<br>
<%= button_to 'Edit Retailer', edit_retailer_path, method: :get %><br>

<br>
<h4>Recent Transactions</h4>
<table>
        <thead>
          <tr>
            <th>Transaction ID</th>
                <th>Total</th>
              <th>Date</th>
              <th>Items Purchased</th>
          </tr>
        </thead>

        <tbody>
        <% @retailer.most_recent.each do |receipt| %>
          <tr>
            <td><%= link_to receipt.id, receipt_path(receipt) %></td>
            <td> £<%= receipt.total_amount.round(2) %></td>
            <td><%= receipt.created_at %></td>
            <td><%= receipt.items %></td><br>
            <% end %>
          </tr>
        </tbody>
</table>
<br>
<%= button_to "Show More", show_all_path(@retailer) %>
<br>
<br>
<br>

<h4>Analytics</h4>
<br>
<h5> % Annual Turnover</h5>
<table>
        <thead>
          <tr>
            <th> From 3 most recent receipts</th>
                <th>From all receipts in Fund DMC </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><%= @retailer.annual_turnover_from_recent_receipts %>%</strong></td>
            <td> <strong><%= @retailer.annual_turnover_from_receipts %>%</strong></td>
          </tr>
        </tbody>
</table>

<br>
<h5> Transactions </h5>
<table>
        <thead>
          <tr>
            <th>   Highest Transaction Value </th>
            <th>  Average Transaction Value </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> £<strong><%= @retailer.biggest_transaction.total_amount %></strong> <br><span class="grey-text text-lighten-1">Account No. <%= @retailer.biggest_transaction.bank_account.account_number %></span><br></td>
            <td> £<strong><%= @retailer.atv %></strong></td>
          </tr>
        </tbody>
</table>
<br>
<button > <%= link_to "See Transaction", @retailer.biggest_transaction %> </button> 


<br>
<br>
<br>

<h4> Log New Transaction for <%= @retailer.name %> </h4><br>
<%= form_with model: Receipt.new do |f| %>
    <%= f.label :account_number %>
    <%= f.collection_select(:bank_account_id, BankAccount.order('account_number ASC'), :id, :account_number) %>
<br>
<%= f.label :items %>
<%= f.text_field :items %>
<br>
<br>
<%= f.label :total_amount %>
<%= f.number_field :total_amount %>
<br>
<br>
<%= f.hidden_field :retailer_id, value: @retailer.id %>
<br>
<%= f.submit %>
<%end%>
</div>
<br>
<br>
<br>