<h1>Customer Form</h1>

<h1>Customer Form</h1>
        <%= form_with model: Customer.new do |f| %>
        <%= f.label :name %>
        <%= f.number_field :name %>
            <br>
            <br>
        <%= f.label :occupation %>
        <%= f.text_field :occupation %>
            <br>
            <br>
        <%= f.label :account_number %>
        <%= f.collection_select(:bank_account_id, BankAccount.all, :id, :account_number) %>
            <br>
            <br>
        <%= f.hidden_field :_id, value: %>
            <br>
            <br>
        <%= f.submit %>
<%end%>