
        
<div class="row">
<div class="grid-example col s12"><span class="flow-text"><h1><%= @customer.full_name %></h1></span></div>
<div class="grid-example col s12 m6"><span class="flow-text"><h4>Age |   <%= @customer.age %></h4></span></div>
<div class="grid-example col s12 m6"><span class="flow-text"><h4>Occupation |  <%= @customer.occupation %></h4></span></div><br><br>
</div>
<%= link_to '<i class="material-icons right">create</i>Update your details'.html_safe, edit_customer_path(@customer), class: "waves-effect waves-light btn-small blue darken-2" %> 

<br>
<br>
<br>
<br>
<br>
<h4><strong> My Accounts </strong></h4>

<div class="row">
<% @customer.bank_accounts.each do |bank_account| %>
    <div class="col s6 m6">
        <div class="card #607d8b blue-grey lighten-3">
            <div class="card-content white-text">
                <span class="card-title"><h4><%= bank_account.type_of_account %> Account</h4></span>
                    <h5><ul><li>Account Number: <%= link_to bank_account.account_number, bank_account %> <br> | Sort Code: <%= bank_account.sort_code %></li><br>
                        <li>Available Funds: £<%= bank_account.available_funds %></li>
                        <li> | Balance: £<%= bank_account.funds %> <br>
                        | Overdraft: £<%= bank_account.overdraft %></h5></li></ul>
                    </div>
                    <div class="card-action">
                        <a href="#">View Profile</a>
                    </div>
                    </div>
            </div>
        <%end%>
    </div>


<br>
<br>
<h4> Open New Account </h4><br>
<%= form_with model: BankAccount.new do |f| %>
<%= f.hidden_field :account_number, value: Faker::Number.between(from: 10000000, to: 99999999) %>
<%= f.hidden_field :sort_code, value: Faker::Number.between(from: 10000000, to: 99999999) %>
<%= f.label :type_of_account %>
<%= f.select :type_of_account, ['current', 'savings', 'foreign'] %>
<br>
<br>
<%= f.label :overdraft_limit%>
<%= f.select :overdraft, options_for_select((0..2000).step(250)), {:style=>'display: block;'} %>
<br>
<br>
<%= f.label :funds %>
<%= f.number_field :funds %>
<br>
<br>
<%= f.hidden_field :customer_id, value: @customer.id %>

<%= f.submit %><br>
<%end%>
<br>
<br>
<br>

<%= button_to "Delete Customer", customer_path(@customer), method: :delete, data: { confirm: "Are you sure you want to remove this customer?"} %>
