<h1> A Bank Account </h1>

 <h2> <%= link_to "#{ @bank_account.customer_first_name + ' ' + @bank_account.customer_last_name}" , bank_account_path(@bank_account.customer_id:)  %> account </h2> 
  
<h3> Sort Code: <%= @bank_account.sort_code %> </h3>

<h3> Account Number: <%= @bank_account.account_number%> </h3>

 <h3> Available funds: £  <%= @bank_account.funds %> </h3>

 <h3> Overdraft: £ <%= @bank_account.overdraft %> </h3>

<h3> Recent Transactions: 
  <% @bank_account.recent_transactions.each do |receipt| %>
  <%= receipt %> 
  <% end %>
</h3>