<%= button_to "Back", @bank_account.customer, method: :get %>
<h4> <%= @bank_account.account_number %> | <%= @bank_account.sort_code %> </h4>  
<h5>Available Funds: £<%= @bank_account.available_funds %><br>
Balance: £<%= @bank_account.funds %> | Overdraft: £<%= @bank_account.overdraft %></h5>
<br>
<h5> Recent Transactions:</h5>
  <% @bank_account.recent_transactions.each do |receipt| %><br>
  <ul>
  <li>Transacton ID: <%= receipt.id %></li>
           <li>Value: £<%= receipt.total_amount.round(2) %></li>
            <li>Date Posted: <%= receipt.created_at %></li>
            <li>Items: <%= receipt.items %></li>
            <% end %></ul>

  <br>
  <br>
  <h5> Change Overdraft Limit</h5>
  <%= form_for @bank_account do |f| %>
  <%= f.label :overdraft %>
 
  <%= f.select :overdraft, options_for_select((0..2000).step(250)), {:style=>'display: block;'} %>

  <br>
  <br>
  <%= f.submit %>
  <%end%>