
 <h2> <%= link_to @bank_account.customer.full_name, customer_path(@bank_account.customer)  %> <br> 
 <%= @bank_account.type_of_account %> account </h2> 

<h5> Account Number: <%= @bank_account.account_number %> | Sort Code: <%= @bank_account.sort_code %> <br>

Available Funds: £<%= @bank_account.available_funds %><br>

Balance: £<%= @bank_account.funds %> | Overdraft: £<%= @bank_account.overdraft %></h5> <br>
<br>
<br>
  <h5> Change Overdraft Limit</h5>
  <%= form_for @bank_account do |f| %>
  <%= f.label :overdraft %>
 
  <%= f.select :overdraft, options_for_select((0..2000).step(250)), {:style=>'display: block;'} %>

  <br>
  <br>
  <%= f.submit %>
  <%end%>

 <h2> Transactions Overview </h2> 

<h6> <ul>
<% if @bank_account.receipts.length > 0 %>
 <li> Maximum spend: £ <%= @bank_account.retailer_spent_most_with.total_amount %> at <%= link_to @bank_account.retailer_spent_most_with.retailer.name, retailer_path(@bank_account.retailer_spent_most_with.retailer) %> 
 <button>
 <%= link_to "See Transaction", receipt_path(@bank_account.retailer_spent_most_with) %> </button> </li> 

 <li> Average Transactions: £ <%= @bank_account.avrg_transaction %> </li> 

 </ul> </h6> 

<h5> Recent Transactions:</h5>
  <% @bank_account.recent_transactions.each do |receipt| %><br>
  <ul>
  <li>Transacton ID: <%= link_to receipt.id, receipt_path(receipt) %></li>
  <li> Retailer: <%= link_to receipt.retailer.name, retailer_path(receipt.retailer) %> </li>
           <li>Total: £<%= receipt.total_amount.round(2) %></li>
            <li>Date Posted: <%= receipt.created_at %></li>
            <% end %></ul>
<% else %>
<%= "Currently there are no transactions to display" %>
<%end%>
  <br>
  <br>
  <%= button_to "Close Account", bank_account_path(@bank_account), method: :delete, data: { confirm: "Are you sure you want to delete this account?"} %>

  <%= button_to "Back", customer_path(@bank_account.customer), method: :get  %>
  

