 <h2> <%= link_to @bank_account.customer.full_name, customer_path(@bank_account.customer)  %>  <%= @bank_account.type_of_account %> account </h2> 
  
<h3> Sort Code: <%= @bank_account.sort_code %> </h3> 

<h3> Account Number: <%= @bank_account.account_number%> </h3>  

 <h3> Available funds: £  <%= @bank_account.funds %> </h3> 

 <h3> Overdraft: £ <%= @bank_account.overdraft %> </h3> 

 <h2> Transactions Overview </h2> 

 <ul>

 <li> Maximum spend: £ <%= @bank_account.retailer_spent_most_with.total_amount %> at <%= link_to @bank_account.retailer_spent_most_with.retailer.name, receipt_path(@bank_account.retailer_spent_most_with.id) %>  </li> 

 <li> Average Transactions: £ <%= @bank_account.avrg_transaction %> </li> 

 <li> Recent Transactions: <br>
  <% @bank_account.recent_transactions.each do |receipt| %>
  <%= link_to receipt.retailer.name, receipt_path(receipt) %> <br>
  <% end %>
 </li> 

 </ul>

 <button>
     <%= link_to "Delete Account", @bank_account, method: :delete %>
 </button>
