<h3> <%= @receipt.customer_name %>'s transaction with retailer <%= @receipt.retailer_name %> </h3>
<table>
        <thead>
          <tr>
            <th>Transaction ID</th>
                <th>Total</th>
              <th>Date</th>
              <th>Items Purchased</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @receipt.id %></td>
            <td> £<%= @receipt.total_amount.round(2) %></td>
            <td><%= @receipt.created_at %></td>
            <td><%= @receipt.items %></td><br>
          </tr>
        </tbody>
</table>
<br>
  <button>
  <%= link_to "Back to #{@receipt.customer_name}", customer_path(@receipt.bank_account.customer)  %> 
 </button>

   <button>
  <%= link_to "Back to #{@receipt.account_type} account", bank_account_path(@receipt.bank_account_id)  %> 
 </button>

   <button>
  <%= link_to "Back to retailer", retailer_path(@receipt.retailer_id)   %> 
 </button>