<h2> <%= link_to @receipt.customer_name, customer_path(@receipt.bank_account.customer)  %>'s transaction with <%= link_to @receipt.retailer_name, retailer_path(@receipt.retailer_id)  %> </h2>
  
 <h3> Total Spend: £  <%= @receipt.total_amount %> </h3>

 <h3> Items: <%= @receipt.items%> </h3>

<h3> Date: <%= @receipt.created_at%> </h3>

  <button>
  <%= link_to "Back to #{@receipt.account_type} account", bank_account_path(@receipt.bank_account_id)  %> 
 </button>