<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<header>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper #01579b light-blue darken-4">
 <a href="<%= root_path %>" class="brand-logo"><Fund DMC>
    </a>
    <ul class="right hide-on-med-and-down">
 <li><a href="<%= customers_path %>">All Customers</a></li>
    <li><a href="<%= bank_accounts_path %>">All Bank Accounts</a></li> 
    <li><a href="<%= retailers_path %>">All Retailers</a></li> 
    <li><a href="<%= receipts_path %>">All Transactions</a></li> 
    </ul>
  </div>
</nav>

<% flash.each do |key, msg| %>
<div class="container">
    <div class="row padding-form">
        <div class="col s12 m12 l12">
            <div class="card-panel red lighten-1" id="fade-out-target">
            <span class="white-text">
            <%= msg %>
            </span>
            </div>
            </div>
            <div>
            </div>
    <% end %>
</header>