<!DOCTYPE html>
<html>
<head>

<title>Banking App</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <%= render 'layouts/navigation' %>
    <main>
    <div class="container">
    <%= button_to "All Customers", customers_path, method: :get %>
    <%= button_to "All Bank Accounts", bank_accounts_path, method: :get %>
    <%= button_to "All Retailers", retailers_path, method: :get %>
    <%= button_to "All Transactions", receipts_path, method: :get %>
        <%= yield %>
        </div>
    </main>
    <%= render 'layouts/footer' %>
</body>
</html>
